.user {
  display: flex;
  align-items: center;
  gap: 6%;
  margin-bottom: 1rem;
}

.user__photo {
  text-align: center;
}
.user__photo > img {
  border-radius: 50%;
}

.user__details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 1rem;
  align-items: center;
}
.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.search > input {
  padding: 0.6rem;
  border-radius: 6px;
  width: 100%;
  max-width: 900px;
  height: 45px;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  color: #ccc;
  background-color: #363692b3;
  border: none;
}

button:hover {
  background-color: #363692;
  color: white;
}

.footer {
  display: block;
  color: aqua;
  position: relative;
  margin: 1rem auto;
}

a {
  color: inherit;
}

a:hover {
  color: #363692;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .user,
  .user__details {
    flex-direction: column;
    text-align: center;
  }
}
